<!DOCTYPE html>
<html>
    <head>
        <title>Applications</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h2>Appointments</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Age</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Purneet</td>
                        <td>9980353294</td>
                        <td>puru2000@gmail.com</td>
                        <td>21</td>
                    </tr>
                    <tr>
                        <td>Sohan</td>
                        <td>367423467</td>
                        <td>Sohan@rediffmail.com</td>
                        <td>34</td>
                    </tr>
                    <tr>
                        <td>Ryan</td>
                        <td>2673762378</td>
                        <td>ryan@gmail.com</td>
                        <td>23</td>
                    </tr>
                </tbody>
                
            </table>
        </div>
    </body>
</html>
