<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row-sm-3">
                <p>Most health clubs have a main workout area, which primarily consists of free weights including dumbbells and barbells and the stands and benches 
                    used with these items and exercise machines, which use gears, cables and other mechanisms to guide the user's exercise. This area often includes 
                    mirrors so that exercisers can monitor and maintain correct posture during their workout.
                </p>
            </div>
            <div class="row-sm-3">
                <p>A cardio theater or cardio area includes many types of cardiovascular training-related equipment such as rowing machines, stationary exercise bikes,
                    elliptical trainers and treadmills. These areas often include a number of audio-visual displays, often TVs (either integrated into the equipment or 
                    placed on walls around the area itself) in order to keep exercisers entertained during long cardio workout sessions. Some gyms provide newspapers 
                    and magazines for users of the cardio theatre to read while working out.
                </p>
            </div>
            <div class="row-sm-3">
                <p>Most health clubs employ personal trainers who are accessible to members for training/fitness/nutrition/health advice and consultation. Personal 
                    trainers can devise a customized fitness routine, sometimes including a nutrition plan, to help clients achieve their goals. They can also monitor
                    and train with members. More often than not, access to personal trainers involves an additional hourly fee.
                </p>
            </div>
        </div>
    </body>
</html>
